<!DOCTYPE html>
<html>
<head>
    <title>{{=response.title or request.application}}</title>
    <meta charset="utf-8" />
    <meta name="application-name" content="{{=request.application}}" />
    <LINK href="../static/css/global.css" rel="stylesheet" type="text/css">
</head>
<body>
        <nav>
            <ul>
                <li><a href="../home/index.html">HOME</a></li>
                <li><a href="../addresses/submit_addresses.html">COST ESTIMATOR</a></li>
                <li><a href="../home/about.html">ABOUT</a></li>
            </ul>
        </nav>
    <div id="content">
        {{include}}
    </div>
    <div id="footer">
        <p>CMU Capstone Project - PROTOTYPE v1.0</p>
    </div>
</body>
</html>